.todo-app {
	max-width: 70%;
	margin: 0 auto;
	text-align: center;
}

.todo-header {
	position: relative;
	padding: 20px 0;
	background-color: #00b3ee;
	h1 {
		text-transform: uppercase;
		color: #0f0f0f;
		font-weight: 700;
	}
}

.todo-list {
	margin: 0;
	padding: 0;
}

.todo {
	font-size: 20px;
	font-weight: 700;
}
