buttom {
	width: auto;
	height: auto;
}
.todo-item {
	position: relative;
	padding: 20px;
	text-align: left;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	border: 1px solid #ccc;
	border-bottom: transparent;
}
.todo-item:last-of-type {
	border-bottom: 1px solid #ccc;
}
.todo-item .icon {
	position: relative;
	margin: 0;
	padding: 0;
	width: auto;
	height: auto;
	border-radius: 3px;
	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	&:active:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 50%;
		left: -4px;
		transform: translateY(-50%);
		display: block;
		padding: 20px;
		border-radius: 50%;
		background-color: #ababab;
	}
}
.todo-item .todo-title {
	margin-left: 60px;
}

.todo-item .delete {
	display: none;
	margin-left: auto;
	position: absolute;
	right: 20px;
}
.todo-item.completed .delete {
	display: block;
}
.todo-item .material-icons{
	font-size: 30px;
}
.todo-item .checkbox i {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translateY(-50%);
}
.delete i {
	right: 30px;
}
.todo-item.completed {
	.todo-title {
		text-decoration: line-through;
	}
}
.todo-edit-form {
	padding: 10px;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #ccc;
}
.todo-edit-form input {
	margin: 0;
	padding: 0;
	outline: 0;
	display: block;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 22px;
	line-height: 24px;
	width: 88%;
	height: 40px;
	box-sizing: border-box;
}
.todo-edit-form .icon {
	margin: 0;
	padding: 0;
	width: 10%;
	margin-left: 2%;
	height: 40px;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
.todo-item .edit {
	display: none;

}
.todo-item:hover .edit {
	display: block;
}
.edit.icon {
	position: absolute;
	right: 60px;
}
.save.icon {}
